<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="logo" />
    </div>
    <mat-icon (click)="snav.toggle()">menu</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 48 : 3">
    <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
      [style.marginTop.px]="mobileQuery.matches ? 0 : -48">
      <mat-nav-list>
        <div class="profile">
          <i class="material-icons">
            person_outline
          </i> <span>Kannan G</span>
        </div>
        <div>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}} <span></span></a>
        </div>


      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      main content
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>