<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <div class="logo">
      <img src="./assets/img/logo.png" alt="logo" />
  </div>
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-icon (click)="snav.toggle()">menu</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 45 : 3">
    <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="45">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}} <span></span></a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
       main content
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>