/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: #000000;
}
.mat-toolbar-single-row {
    height: 45px !important;
    /* margin-left: 200px !important;
    width: calc(100% - 200px) !important; */
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}
.mat-nav-list {
    padding-top: 0px !important;
    height: 100%;
    background: rgba(2,2,2,.7);
}
.mat-drawer {
    width: 200px;
    background: url('./assets/img/blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    color: white !important;
    font-size: 17px;
    /* border-bottom: 1px solid #efefef; */
}
.mat-drawer {
    background-color: #ffffff;
}
.mat-drawer-container {
    z-index: 5 !important;
    /* margin-top: 45px !important; */
}
.mat-drawer.mat-drawer-side {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mat-toolbar.mat-primary {
    background: rgb(77, 0, 90) !important;
}
/* .mat-drawer {
    top: -48px !important;
} */

.mat-list-item-content  span{
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 15px solid transparent;
}